[user]
	email = roderik@settlemint.com
	name = Roderik van der Veer
	signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIA0+bsCoH2OJejgy1f89x6ngW7/sqYWqM949diNIo449 SSH key (roderik)
[core]
	pager = delta
	multiPackIndex = true
	excludesfile = ~/.gitignore_global
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
[merge]
	conflictstyle = diff3
[diff]
  renames = copies
	colorMoved = plain
	algorithm = histogram
[commit]
	gpgsign = true
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[gpg]
	format = ssh
	program = /usr/local/bin/gpg
[rerere]
	enabled = true
[pull]
	rebase = true
[apply]
  whitespace = fix
[branch]
	sort = -committerdate
  autosetuprebase = always
[push]
  default = simple
  followTags = true
	autoSetupRemote = true
[init]
  defaultBranch = main
[fetch]
	prune = true
	pruneTags = true
	writeCommitGraph = true
[column]
	ui = auto
[tag]
	sort = version:refname
[index]
	sparse = true
[phantom]
	editor = code --reuse-window
	ai = claude
[gitbutler]
	aiModelProvider = openai
[coderabbit]
	machineId = cli/dbdba1f8d387485b9bfbc4df65f29eaa
