layout {
    default_tab_template {
        pane split_direction="vertical" {
            pane size=20 borderless=true {
                plugin location="https://github.com/cfal/zellij-vertical-tabs/releases/download/v0.1.0/zellij-vertical-tabs.wasm"
            }
            children
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab {
        pane split_direction="vertical" {
            pane split_direction="horizontal" size="70%" {
                pane size="80%" focus=true name="Main"
                pane size="20%" name="Terminal"
            }
            pane size="30%" name="Git" command="lazygit"
        }
    }
}
